<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="com.shevchik.webportal.domain.Item"/>
        <mapping class="com.shevchik.webportal.domain.Category"/>
        <mapping class="com.shevchik.webportal.domain.User"/>
        <mapping class="com.shevchik.webportal.domain.Image"/>
        <mapping class="com.shevchik.webportal.domain.Order"/>
        <mapping class="com.shevchik.webportal.domain.OrderItem"/>
        <mapping class="com.shevchik.webportal.domain.Purchase"/>
    </session-factory>
</hibernate-configuration>